{% assign share_url = page.url | prepend: site.baseurl | prepend: site.url %}

<ul class="share-buttons">
	<li><a class="share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"&t={{ page.title }}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
	<li><a class="share-link" href="https://twitter.com/intent/tweet?source={{ share_url }}&text={{ page.title }}:%20{{ share_url }}&via=amp269" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
	<li><a class="share-link" href="https://plus.google.com/share?url={{ share_url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
	<li><a class="share-link" href="http://www.reddit.com/submit?url={{ share_url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>
	<li><a class="share-link" href="http://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ page.title }}&source={{ share_url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
	<li><a class="share-link" href="mailto:?subject={{ page.title }}&body={{ share_url }}" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>
