/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 $spacing-unit/2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(85% - (#{$spacing-unit} / 2));
    width:         calc(85% - (#{$spacing-unit} / 2));
    text-align: justify;
}

@include media-query($on-palm) {
    .footer-col-2 { text-align: left; }
}

/*
@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(80% - (#{$spacing-unit} / 2));
        width:         calc(80% - (#{$spacing-unit} / 2));
    }
}
*/

@include media-query($on-palm) {
    .footer-col-1 {
        float: left;
        margin-right: 10px;
        width: -webkit-calc(15% - (#{$spacing-unit} / 2));
        width:         calc(15% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list, .pub-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.pub-item {
   > .pub-title {
     font-size: 18;
     margin-bottom: $spacing-unit * 0.4;
   }
   > .pub-bib {
     font-size: 12pt;
     margin-left: 20pt;
     margin-bottom: $spacing-unit * 0.4;
   }
   > .pub-abstract {
     margin-left: 20pt;
     text-align: justify;
     @include media-query($on-palm) { text-align: left; }
   }
}

.pub-bib {
     color: lighten($text-color,40%);
     text-align: justify;
     @include media-query($on-palm) { text-align: left; }
}

.pub-abstract {
     text-align: justify;
     @include media-query($on-palm) { text-align: left; }
     margin-bottom: $spacing-unit * 0.4;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.home {
    margin-bottom: 0;
}

.post-content {
    //margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    :last-child {
        margin-bottom: 0;
    }

    text-align: justify;
    @include media-query($on-palm) { text-align: left; }
}

.pub-list, .pub-list :last-child {
  margin-bottom: 0;
}

.home,
.home > .post-list,
.home > .post-list > :last-child,
.home > .post-list > :last-child > :last-child
{
  margin-bottom: 0;
}

.bio-photo {
  margin-top: 3px;
  width: 100%;
  border-radius: 5%;
}

.share-buttons {
  text-align: right;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: $spacing-unit;

  a {
    color: black;
  }
  li {
    display: inline;
  }

  .fa-facebook-square:hover {
    color: #3b5998;
  }

  .fa-twitter-square:hover {
    color: #55acee;
  }

  .fa-google-plus-square:hover {
    color: #dd4b39;
  }

  .fa-reddit-square:hover {
    color: #ff5700;
  }

  .fa-linkedin-square:hover {
    color: #007bb6;
  }

  .fa-envelope-square:hover {
    color: #008800;
  }
}

.post > .pub-abstract {
  margin-bottom: $spacing-unit;
}

.pub-content-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $grey-color-light;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  width: 70%;
}

.pub-downloads {
  margin-left: 0;
  display: inline;

  li {
    display: inline-block;
    margin-right: 1ex;
  }
  li:before {
    content: '\f0c1';
    font-family: FontAwesome;
    margin-right: 5px;
  }
  //li:first-child:before {
  //  content: '';
  //}
}

.title-wrapper .post-title {
  text-align: left;
  float: left;
}

.title-wrapper .rss-link {
  text-align: right;
  padding-right: 2px;
  float: right;
  font-size: 18px;
  line-height: 36px;
  i {
    color: black;
  }
  i:hover {
    color: #ff6600;
  }
}

.title-wrapper {
  display: block;
  margin-bottom: $spacing-unit / 2;
}
