---
layout: default
---
<div class="post">

  <header class="pub-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="pub-bib">{{ page.authors }}. {{ page.where }}.</p>

    {% if page.abstract %}
    <div class="pub-abstract">
      <strong>Abstract.</strong> {{ page.abstract }}
    </div>
    {% endif %}

    {% if page.download-links %}
    <ul class="pub-downloads">
    {% for dl in page.download-links %}
      <li><a class="pub-download" href="{{ dl.url }}">{{ dl.text }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  {% if page.blank %}
  {% else %}
  <hr class="pub-content-separator" />
  <article class="post-content">
    {{ content }}
  </article>
  {% endif %}

</div>

{% include social.html %}
